<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IVisitTrackService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://dmnnt022:9900/VisitTrackService.svc/VisitTrack"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IVisitTrackService"
                contract="ServiceReference1.IVisitTrackService" name="BasicHttpBinding_IVisitTrackService" />
        </client>
    </system.serviceModel>
</configuration>